<%- include('partials/welcomeMsg.ejs')%>
<h2 class="page-header">Recently Added</h2>
<div>
  <div class="search-result-container">
    <% plants.forEach(plant => { %>
    <div class="card">
      <a href="/plants/<%= plant.id%>">
        <img
          height="150"
          width="100"
          class="thumbnail"
          src="<%= plant.coverImagePath %>"
        />
      </a>
      <a href="/plants/<%= plant.id%>"><%=plant.name%></a>
    </div>
    <% }) %>
  </div>
</div>
