<h2 class="page-header"><%= user.username %></h2>
<% if (isOwnUser) {%>
<p>Registered email address: <%= user.email%></p>
<a class="btn btn-primary" href="/users/<%= user._id %>/edit">Edit</a><br />
<p>You CANNOT delete your profile before your delete your plants</p>
<%- include('../partials/deleteForm', {url: `/users/${user._id}`}) %> <br /><%} else {%>
<a href="mailto:<%= user.email%>" class="btn btn-primary">Contact</a><br />
<%}%> <% if (plantsByUser.length > 0) { %>
<div>
  <h2>Plants by user</h2>
  <div class="search-result-container">
    <% plantsByUser.forEach(plant => {%>
    <div class="card">
      <a href="/plants/<%=plant.id%>">
        <img
          height="150"
          class="thumbnail"
          width="100"
          src="<%=plant.coverImagePath %>"
        /> </a
      ><a href="/plants/<%=plant.id%>"><%=plant.name%></a>
    </div>
    <%})%>
  </div>
</div>
<%}%>
