<div class="form-row">
  <div>
    <label>Name (scientific)</label>
    <input type="text" name="name" value="<%= plant.name %>" />
  </div>
  <div>
    <label>Common Name</label>
    <input type="text" name="latinName" value="<%= plant.latinName %>" />
  </div>
</div>
<div class="form-row"><%- include("_plantFamilies.ejs")%></div>
<div class="form-row">
  <div>
    <label>Planted Date</label>
    <input
      type="date"
      name="plantedDate"
      value="<%= plant.plantedDate == null ? '' : plant.plantedDate.toISOString().split('T')[0] %>"
    />
  </div>
</div>
<div class="filepond-container">
  <label>Picture</label>
  <input type="file" name="cover" class="filepond" id="filepond" />
</div>
<div class="form-row textfields">
  <div>
    <label>Description</label>
    <textarea name="description"><%= plant.description%></textarea>
  </div>
</div>
