<table class="table-show-plant">
  <tr>
    <th>Name:</th>
    <td><%= plant.name %></td>
  </tr>
  <tr>
    <th>Scientific Name:</th>
    <td><%= plant.latinName %></td>
  </tr>
  <tr>
    <th>Taxonomic Family:</th>
    <td><%= plant.family %></td>
  </tr>
  <img width="100" height="150" src="<%= plant.coverImagePath%>" />
  <tr>
    <th>User growing this:</th>
    <td><%= plant.user.username %></td>
  </tr>
  <tr>
    <th>Planted Date:</th>
    <td><%= plant.plantedDate.toDateString()%></td>
  </tr>
  <div>Description: <%= plant.description %></div>
</table>
<br />

<div class="button-container">
  <% if (isOwner) {%>
  <a class="btn btn-primary" href="/plants/<%= plant.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm', {url: `/plants/${plant.id}`}) %> <%} else {%>
  <a class="btn btn-primary" href="/users/<%= plant.user._id %>">View Author</a>
  <%}%>
</div>
