<h2 class="page-header"><%= author.name %></h2>

<div class="button-container">
  <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm', {url: `/authors/${author.id}`}) %>
</div>
<% if (plantsByAuthor.length > 0) { %>
<div>
  <h2>Plants by author</h2>
  <div class="search-result-container">
    <% plantsByAuthor.forEach(plant => {%>
    <div class="card">
      <a href="/plants/<%=plant.id%>">
        <img
          height="150"
          class="thumbnail"
          width="100"
          src="<%=plant.coverImagePath %>"
        /> </a
      ><a href="/plants/<%=plant.id%>"><%=plant.name%></a>
    </div>
    <%})%>
  </div>
</div>
<%}%>
